<!-- mixin searchInput -->
<div class="col-md-4">
    <label class="form-label">Tìm kiếm sản phẩm</label>
    <form class="input-group" id="form-search">
        <button class="input-group-text">
            <i class="fas fa-search"></i>
        </button>
        <input type="text" class="form-control" name="keyword" placeholder="Nhập tên sản phẩm, SKU..." value="<%= keyword || '' %>">
    </form>
</div>

